*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font: 12px "Open Sans", sans-serif;
    background: #F3F7FA;
}

.App{
    max-width: 1000px;
    padding: 50px 100px;
    margin: 0px auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
@media screen and (max-width: 750px){
    .App{
        padding: 20px 50px;
    }
}

@media screen and (max-width: 650px){
    .App{
        padding: 20px;
    }
}